/*zoom 300-200*/
@media screen and (min-width:0px) and (max-width:499px){
    .navbar{
        display:none;
    }
    .logo img {
        width: 50px;
    }
    .menu{
        width: 15px;
        height: 15px;
    }
    .menu img{
        width: 100%;
        height: 100%;
    }
    .video {
        width: max-content;
        display: flex;
        gap: 4px;
        margin: 5px 0;
    }
    .video p {
        border-radius: 10px;
        font-size: 7px;
        font-weight: 700;
        padding: 0px 7px;
    }
    .imagen img{
        width: 70%;
    }
}
/**zoom 200-150/
/*Para celular posicion vertical*/
@media screen and (min-width:500px) and (max-width:767px){
    .navbar{
        display:none;
    }
    .logo img {
        width: 100px;
    }
    .menu{
        width: 25px;
        height: 25px;
    }
    .menu img{
        width: 100%;
        height: 100%;
    }
    .video {
        width: max-content;
        display: flex;
        gap: 4px;
        margin: 5px 0;
    }
    .video p {
        border-radius: 10px;
        font-size: 10px;
        font-weight: 700;
        padding: 5px 13px;
    }
    .imagen img{
        width: 60%;
    }
}
/**zoom 125-110/
/*Para celular posicion horizontal y para table posicion vertical*/
@media screen and (min-width:768px) and (max-width:991px){
    .navbar{
        display:none;
    }
    .logo img {
        width: 120px;
    }
    .menu{
        width: 35px;
        height: 35px;
    }
    .menu img{
        width: 100%;
        height: 100%;
    }
    .video {
        width: max-content;
        display: flex;
        gap: 4px;
        margin: 5px 0;
    }
    .video p {
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 15px;
    }
    .imagen img{
        width: 60%;
    }
}
/**zoom 100-90/
/*Para table posicion horizontal y pantalla pequeña des escritorio*/
@media screen and (min-width:992px) and (max-width:1199px){
    .menu img{
        display: none;
    }
    .imagen img{
        width: 60%;
    }
    .logo img {
        width: 130px;
    }
    a {
        color: white;
        font-size: 15px;
    }
    .imagen img{
        width: 60%;
    }
    .video {
        width: max-content;
        display: flex;
        gap: 4px;
        margin: 5px 0;
    }
    .video p {
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 15px;
    }
    .imagen img{
        width: 60%;
    }
}
/*Para pantallas mas grandes de escritorio*/
@media screen and (min-width:1200px){
    .menu img{
        display: none;
    }
    .imagen img{
        width: 60%;
    }
    .logo img {
        width: 130px;
    }
    a {
        color: white;
        font-size: 20px;
    }
    .imagen img{
        width: 60%;
    }
}